.slide-three {
	@include size(100%);
	@include flex(column, center);

	.circle {
		@include size(276px);
		@include position(absolute, false, 50%, -90px);
		transform: translateX(50%);
		background-color: var(--white-color);
		border-radius: 50%;
		z-index: 1;
		opacity: 0;
		animation: showCircle 500ms 1s ease-in-out forwards;

		@keyframes showCircle {
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		}
	}

	.text-box {
		opacity: 0;
		animation: startPageShowTextBox 1s ease-in-out 500ms forwards;
		margin-top: 150px;

		h2 {
			@include flex(row, center, center);
			color: var(--white-color);

			svg {
				@include size(35px);
				margin-right: 16px;
			}

			span {
				font-size: 36px;
				font-weight: 300;
			}
		}

		p {
			@include maxSize(300px, false);
			color: rgba(#fff, 0.65);
			font-size: 16px;
			text-align: center;
			line-height: 22px;
			margin-top: 20px;
		}
	}
}
